@use "global" as *;

.about-list {
  max-width: rem(700);
}

.about-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $yellow;
  padding: rem(52) 0;
  position: relative;
}

.about-item__title {
  font-size: rem(28);
  font-weight: $regular;
  line-height: 1;
}

.about-item__img {
  width: rem(300);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.3s ease,
    opacity 0.3s ease;
}

.about-item__img img {
  aspect-ratio: 300/212;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (hover: hover) {
  .about-item:hover .about-item__img {
    visibility: visible;
    opacity: 1;
  }
}

.about-item__icon {
}

.about-item__icon svg {
  aspect-ratio: 25/13;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-item__icon svg *[stroke] {
  stroke: $darkbrown;
}

.about-item__icon ellipse {
  fill: $yellow;
  opacity: 1;
}
