@use "global" as *;

.intro {
  position: relative;
}

.intro::before {
  content: "rinri hojinkai\aniigata";
  white-space: pre;
  position: absolute;
  top: rem(50);
  left: calc(50 / 1440 * 100vw);
  text-transform: uppercase;
  font-size: rem(80);
  font-weight: $medium;
  font-family: $en-font;
  color: $white;
  line-height: calc(100 / 80);
  letter-spacing: 0.1em;
}

.intro__inner.inner {
  @include mq("md") {
    width: 100%;
  }
}

.intro__container {
  display: flex;
  gap: min((130 / 1232 * 100vw), rem(130));
  // position: relative;
  @include mq("md") {
    flex-direction: column;
  }
}

.intro__img {
  z-index: 1;
  width: calc(598 / 1232 * 100%);
  // filter: opacity(0.9);
  // background-color: rgba($white, 0.5);
  // mix-blend-mode: multiply;
}

.intro__img img {
  aspect-ratio: 598/717;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.intro__body {
  flex: 1;
  padding-top: rem(96);
}

.intro__title {
  font-size: rem(48);
  font-weight: $regular;
  line-height: calc(68 / 48);
}

.intro__text-wrap {
  margin-top: rem(78);
}

.intro__head {
  font-size: rem(20);
  font-weight: $semi-bold;
  line-height: 2;
}

.intro__text {
  margin-top: rem(16);
}

.intro__button {
  margin-top: rem(48);
}
